<div class="content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="container">
    <!-- Make the entire image-container clickable by wrapping in a link -->
    <a [routerLink]="['/home']" class="image-container">
      <img src="assets/logo.png" alt="Company Logo">
    </a>

    <h2 class="inventory-title">Products</h2>

    <!-- Search Bar Section -->
    <div class="search-bar">
      <input type="text" placeholder="Search Products" (input)="onSearchChange($event)">
    </div>

    <!-- Button Row for Relevant Items and Additional Filters -->
    <div class="button-row">
      <button (click)="toggleRelevantItemsFilter()" class="relevant-items-btn">
        {{ showRelevantItems ? 'Show All Items' : 'Relevant Items' }}
      </button>
      <button (click)="toggleSixtySalesFilter()" class="filter-btn">
        {{ showSixtySales ? 'Show All Sixty Sales' : 'Sixty Sales > 0' }}
      </button>
      <button (click)="toggleWohFilter()" class="filter-btn">
        {{ showWoh ? 'Show All WOH' : 'WOH > 0' }}
      </button>
      <button (click)="toggleYieldFilter()" class="filter-btn">
        {{ showYield ? 'Show All Yield' : 'Yield < 100%' }} </button>
      <button (click)="toggleWithImagesFilter()" class="filter-btn">
        {{ showWithImages ? 'Show All Items' : 'With Images' }}
      </button>
    </div>

    <!-- Centered Filters Section -->
    <div class="filters">
      <div class="filter-group">
        <label for="originFilter">Origin</label>
        <select id="originFilter" (change)="onFilterChange()" [(ngModel)]="originFilter">
          <option value="">All Origins</option>
          <option *ngFor="let origin of uniqueOrigins" [value]="origin">{{ origin }}</option>
        </select>
      </div>
      <div class="filter-group minfilter">
        <label for="comp-cost-min">Min CompCost</label>
        <input type="number" id="comp-cost-min" [(ngModel)]="minCompCost" (input)="onCompCostChange()" placeholder="Min" />
      </div>
      <div class="filter-group">
        <label for="buyerFilter">Buyer</label>
        <select id="buyerFilter" (change)="onFilterChange()" [(ngModel)]="buyerFilter">
          <option value="">All Buyers</option>
          <option *ngFor="let buyer of uniqueBuyers" [value]="buyer">{{ buyer }}</option>
        </select>
      </div>
    </div>

    <!-- Inventory Grid Table -->
    <table class="inventory-grid" *ngIf="inventoryItems$ | async as products; else noData">
      <thead class="sticky">
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>WOH</th>
          <th>Sixty Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of products"
          (click)="onRowClick(item, $event)"
          [class.has-image]="item.photoUrl"
        >
          <td>{{ item.compItemId }}</td>
          <td>
            <div class="description-cell">
              {{ item.compDescription }}
            </div>
          </td>
          <td>{{ item.woh }}</td>
          <td>{{ item.sixtySales }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Message for No Data -->
    <ng-template #noData>
      <p>No products available.</p>
    </ng-template>
  </div>
</div>
