<div class="content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="container">
    <!-- Make the entire image-container clickable by wrapping in a link -->
    <a [routerLink]="['/home']" class="image-container">
      <img src="assets/logo.png" alt="Company Logo">
    </a>

    <h2 class="inventory-title">Products</h2>

    <!-- Search Bar Section -->
    <div class="search-bar">
      <input type="text" placeholder="Search Products" (input)="onSearchChange($event)">
    </div>

    <!-- Button Row for Relevant Items and Additional Filters -->
    <div class="button-row">
      <!-- Relevant Items Toggle Button -->
      <button (click)="toggleRelevantItemsFilter()" class="relevant-items-btn">
        {{ showRelevantItems ? 'Show All Items' : 'Relevant Items' }}
      </button>

      <!-- Sixty Sales Filter Button -->
      <button (click)="toggleSixtySalesFilter()" class="filter-btn">
        {{ showSixtySales ? 'Show All Sixty Sales' : 'Sixty Sales > 0' }}
      </button>

      <!-- WOH Filter Button -->
      <button (click)="toggleWohFilter()" class="filter-btn">
        {{ showWoh ? 'Show All WOH' : 'WOH > 0' }}
      </button>

      <!-- Yield Filter Button -->
      <button (click)="toggleYieldFilter()" class="filter-btn">
        {{ showYield ? 'Show All Yield' : 'Yield < 100%' }} </button>
    </div>

    <!-- Centered Filters Section -->
    <div class="filters">
      <!-- Origin Filter Dropdown -->
      <div class="filter-group">
        <label for="originFilter">Origin</label>
        <select id="originFilter" (change)="onFilterChange()" [(ngModel)]="originFilter">
          <option value="">All Origins</option>
          <option *ngFor="let origin of uniqueOrigins" [value]="origin">{{ origin }}</option>
        </select>
      </div>

      <!-- CompCost Min Filter -->
      <div class="filter-group minfilter">
        <label for="comp-cost-min">Min CompCost</label>
        <input type="number" id="comp-cost-min" [(ngModel)]="minCompCost" (input)="onCompCostChange()" placeholder="Min" />
      </div>

      <!-- Pack Size Filter Dropdown -->
      <div class="filter-group">
        <label for="packSizeFilter">Pack Size</label>
        <select id="packSizeFilter" (change)="onFilterChange()" [(ngModel)]="packSizeFilter">
          <option value="">All Pack Sizes</option>
          <option *ngFor="let packSize of uniquePackSizes" [value]="packSize">{{ packSize }}</option>
        </select>
      </div>

      <!-- Buyer Filter Dropdown -->
      <div class="filter-group">
        <label for="buyerFilter">Buyer</label>
        <select id="buyerFilter" (change)="onFilterChange()" [(ngModel)]="buyerFilter">
          <option value="">All Buyers</option>
          <option *ngFor="let buyer of uniqueBuyers" [value]="buyer">{{ buyer }}</option>
        </select>
      </div>
    </div>

    <!-- Inventory Grid Table -->
    <table class="inventory-grid" *ngIf="inventoryItems$ | async as products; else noData">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>WOH</th>
          <th>Sixty Sales</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products" (click)="onRowClick(item, $event)">
          <td>{{ item.compItemId }}</td>
          <td>{{ item.compDescription }}</td>
          <td>{{ item.woh }}</td>
          <td>{{ item.sixtySales }}</td>
          <td>
            <div *ngIf="!item.photoUrl; else uploadedImageBlock" class="custom-file-input">
              <input type="file" #fileInput (change)="onFileSelected(item, $event)" accept="image/*" hidden />
              <button type="button" class="button" (click)="triggerFileInput(fileInput)">
                Upload Image
              </button>

            </div>
            <ng-template #uploadedImageBlock>
              <div class="image-container">
                <img [src]="item.thumbnailUrl || item.photoUrl" alt="Product Image" class="uploaded-image" />
              </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noData>
      <p>No products available.</p>
    </ng-template>
  </div>
</div>