<div class="container">
    <div class="login-container">

        <div class="logo-container">
            <a [routerLink]="['/home']">
                <img src="assets/logo.png" alt="Company Logo" class="logo">
            </a>
        </div>

        <h1>New password request</h1>
        <form [formGroup]="passwordRequestForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" placeholder="Enter your username" autocomplete="username">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="passwordRequestForm.invalid">
                <span>Submit password request</span>
            </button>
        </form>
    </div>
</div>