<div class="container">
  <app-logo [companyId]="orderData.companyId"></app-logo>

  <h2>Existing Order</h2>
  <div class="error-message" style="color: red;">
    We already have an order for you placed on this delivery date. If you would like it changed please contact your sales rep.
  </div>
  <br>
  <table class="order-grid" id="order-grid">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Sales Rep</th>
        <th>Product Description</th>
        <th>Unit Type</th>
        <th>Pack Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delivery Date</th>
        <th *ngIf="orderData.id">Shipto Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of orderData.profiles">
        <td>{{ orderData.customerName }}</td>
        <td>{{ orderData.salesRepName }}</td>
        <td>{{ profile.profileDescription }}</td>
        <td>{{ profile.unitType }}</td>
        <td>{{ profile.packSize }}</td>
        <td class="price">{{ profile.price| currency:'USD':true }}</td>
        <td>{{ profile.quantity }}</td>
        <td>{{ orderData.deliveryDate | date: 'MM/dd/yyyy' }}</td>
        <td *ngIf="orderData.id">{{ orderData.shipToName }}</td>
      </tr>
    </tbody>
  </table>
  <div style="margin-top: 20px;">
    <div class="total"><strong>Total:</strong>
      <span id="total-amount">{{ orderData.totalPrice| currency:'USD':true }}</span>
    </div>
  </div>
  <button class="button" (click)="goBack()">Back</button>
</div>