<div class="container">
  <app-logo [companyId]="companyId"></app-logo>

  <h2>Existing Order</h2>
  <div class="error-message" style="color: red;">
    We already have an order for you placed on this delivery date. If you would like it changed please contact your sales rep.
  </div>
  <br>
  <table class="order-grid" id="order-grid">
    <thead class="" sticky>
      <tr>
        <th>Product Description</th>
        <th>Unit Type</th>
        <th>Pack Size</th>
        <th>Price</th>
        <th>Qty</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of orderData.profiles">
        <td>{{ profile.profileDescription }}</td>
        <td>{{ profile.unitType }}</td>
        <td>{{ profile.packSize }}</td>
        <td class="price">{{ profile.salesPrice| currency:'USD':true }}</td>
        <td>{{ profile.quantity }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <div class="total"><strong>Total: </strong>
      <span id="total-amount">{{ orderData.totalPrice| currency:'USD':true }}</span>
    </div>
  </div>

  <div>
    <p>Sales rep: {{orderData.salesRepName}}</p>
  </div>
  <div>
    <p>Delivery date: {{orderData.deliveryDate | date: 'MM/dd/yyyy'}}</p>
  </div>
  <div *ngIf="orderData.shipToId">
    <p>Delivery location: {{orderData.shipToName}}</p>
  </div>



  <button class="button" (click)="goBack()">Back</button>
</div>