<div class="data-container">
    <button class="action-button download-button" (click)="downloadOrders()">Download Orders</button>
    <button class="action-button upload-button" (click)="fileInput.click()">Upload Profiles</button>
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
</div>

<div class="upload-instructions">
    <p>CSV file required</p>
    <p>File with these columns, in this order required:</p>
    <ul>
        <li>ProfileDID</li>
        <li>SalesRepName</li>
        <li>SalesRepCell</li>
        <li>SalesRepEmail</li>
        <li>ProfileID</li>
        <li>CustomerID</li>
        <li>CustomerName</li>
        <li>CompItemID</li>
        <li>ProfileDescription</li>
        <li>ProfileInstruction</li>
        <li>UnitTypePD</li>
        <li>PackSizePD</li>
        <li>SalesPrice</li>
        <li>CustomerContactName</li>
        <li>CustomerCell</li>
        <li>CustomerEmail</li>
        <li>Company</li>
        <li>CompanyID</li>
    </ul>
</div>
