.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.action-button {
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 350px;
    /* Optional: Restrict button width on larger screens */
    width: 100%;
    /* Full width button */
    max-width: 350px;
    text-align: center;
}

.upload-button {
    background-color: #4caf50;
    /* Green color for upload button */
}

.download-button {
    background-color: #2196f3;
    /* Blue color for download button */
}

.upload-button:hover {
    background-color: #45a049;
}

.download-button:hover {
    background-color: #1e88e5;
}

.upload-instructions {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.upload-instructions p {
    margin: 5px 0;
    font-weight: bold;
}

.upload-instructions ul {
    list-style-type: disc;
    padding-left: 0;
    margin: 10px auto;
    display: inline-block;
    /* Centers the list horizontally */
    text-align: left;
    /* Aligns text within the list items */
}

.upload-instructions li {
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .data-container {
        gap: 20px;
    }

    .action-button {
        width: 100%;
    }

    .upload-instructions {
        font-size: 14px;
        /* Adjust font size for smaller screens */
        padding: 0 10px;
        /* Add padding for better readability on small screens */
    }
}