.container {
  width: 80%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.date {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: -10px; /* Move buttons up */
  margin-left: 20px; /* Move buttons to the right */
}

.button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.kpi-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.kpi {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}

.kpi h2 {
  margin: 0;
  font-size: 1.5em;
}

.kpi p {
  margin: 10px 0 0;
  font-size: 2em;
}

.grid-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.grid {
  width: 45%;
}

.item-grid, .employee-grid {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.item-grid th, .employee-grid th, .item-grid td, .employee-grid td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1.2em;
}

.item-grid th, .employee-grid th {
  background-color: #f9f9f9;
}

.status-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.status-cell {
  display: flex;
  align-items: center;
}

/* Media Queries for Mobile Optimization */
@media (max-width: 768px) {
  .header-container {
      flex-direction: column;
      align-items: center;
  }

  .date {
      position: static;
      transform: none;
      margin-top: 10px;
  }

  .button-container {
      margin: 10px 0;
  }

  .kpi-container {
      flex-direction: column;
      align-items: center;
  }

  .kpi {
      width: 80%;
      margin-bottom: 20px;
  }

  .grid-container {
      flex-direction: column;
      align-items: center;
  }

  .grid {
      width: 100%;
      margin-bottom: 20px;
  }

  .button-container {
      flex-direction: column;
      align-items: center;
  }

  .button {
      width: 80%;
      margin-bottom: 10px;
  }
}
