.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 150px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  display: table;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 80px;
  max-width: 250px;
}

.table th {
  background-color: #d3d3d3;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.table td {
  font-size: 14px;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
}

/* Allow wrapping for specific columns */
.table th:nth-child(2), /* Customer Name */
.table td:nth-child(2),
.table th:nth-child(4), /* Description */
.table td:nth-child(4),
.table th:nth-child(9), /* Vendor Name */
.table td:nth-child(9) {
  white-space: normal; /* Enable wrapping */
  max-width: 150px; /* Limit max-width for better line wrapping */
}

.error {
  color: red;
  font-size: 0.9em;
}

.submit-btn {
  width: 100%;
  font-size: large;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

.input-number {
  width: 100%;
  padding: 4px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    margin: 5px;
  }

  .table th,
  .table td {
    font-size: 14px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 150px; /* Adjust width to match the layout */
  height: auto;  /* Ensure height scales proportionally */
}
