body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: 28px;
  text-align: center;
  margin: 10px 0;
  text-decoration: none;
}

.customer-sales-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  /* Increased font size */
  margin-bottom: 10px;
}

.sales-rep-info {
  margin-left: auto;
}

.shipto-dropdown {
  margin-top: 5px;
  /* Moved higher */
  display: flex;
  align-items: center;
  font-size: medium;
}

.shipto-dropdown label {
  margin-right: 10px;
  /* Added white space */
}

.input-select {
  width: auto;
  /* Only as wide as needed */
  padding: 4px;
  /* Less tall */
}

.section-title {
  font-size: 20px;
  /* Increased font size */
  margin-top: 20px;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

.table th {
  background-color: #d3d3d3;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.table td {
  font-size: 14px;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 30%;
  /* Wider description column */
}



.hidden-column {
  display: none;
}

.error {
  color: red;
}

.submit-btn {
  width: 100%;
  font-size: large;
}

.input-text,
.input-select,
.input-date,
.input-number {
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-select {
  width: auto;
  padding: 4px;
}

.delivery-date {
  margin-top: 5px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(0, 16, 46, 1);
}


.input-number {
  width: 100%;
  padding: 2px;
  /* Adjust the padding to make it less tall */
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


label {
  padding-right: 5px;
}

.customer-po {
  width: 140px;
}

.current-order-btn {
  float: right;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 16, 46, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 600px) {

  .table th,
  .table td {
    font-size: 14px;
    word-wrap: break-word;
  }

  .container {
    width: 95%;
    margin: 5px;
  }

  .table {
    width: 100%;
    margin: 0;
    border: 0;
    display: table;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .profiles {
    width: 100%;
  }

  .table {
    width: 100%;

  }

  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 17%;
    /* Adjust width for price column */
  }

  .table th:nth-child(3),
  .table td:nth-child(3) {
    width: 17%;
    /* Adjust width for price column */
  }

  .table th:nth-child(4),
  .table td:nth-child(4) {
    width: 16%;
    /* Adjust width for price column */
  }

  .table th:nth-child(5),
  .table td:nth-child(5) {
    width: 20%;
    /* Adjust width for price column */
  }

  .table th:nth-child(6),
  .table td:nth-child(6) {
    width: 20%;
    /* Adjust width for total column */
  }
}


.table th,
.table td {
  text-align: center;
  /* Center text in table headers and data cells */
}

.total-price {
  font-weight: bold;
  /* Make text bold */
  text-align: right;
  /* Align text to the right */
  font-size: medium;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button[mat-raised-button] {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
}

button[mat-raised-button]:hover {
  background-color: #002855;
}

button[mat-raised-button]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}