<form *ngIf="order" [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="order-form">
  <div class="container">
    <app-logo [companyId]="order.companyId"></app-logo>
    <h2 class="page-title">Order Form</h2>

    <div *ngIf="order.customerName && order.salesRepName" class="customer-sales-info">
      <p><strong>Customer:</strong> <br>{{ order.customerName }}</p>
      <div class="sales-rep-info">
        <strong>Sales Rep:</strong> <br>{{ order.salesRepName }}
        <br><a [href]="'tel:' + order.salesRepPhone">{{ order.salesRepPhone }}</a>
      </div>
    </div>

    <div *ngIf="order.shipTos" class="shipto-dropdown">
      <label for="ship-to"><strong>Ship to:</strong></label>
      <select id="ship-to" formControlName="shipToId" class="input-select">
        <option *ngFor="let shipTo of order.shipTos" [value]="shipTo.id">{{ shipTo.shipToName }}</option>
      </select>
      <div *ngIf="orderForm.get('shipToId')?.touched && orderForm.get('shipToId')?.errors?.['required']" class="error">
        Ship to is required.
      </div>
    </div>

    <div *ngIf="hasSpecials">
      <h3 class="section-title">Specials</h3>
      <div formArrayName="profiles" class="profiles">
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Qty</th>
              <th>Unit Type</th>
              <th>Pack Size</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let profile of profileControls.controls; let i = index">
              <tr *ngIf="order.profiles[i].isSpecial" [formGroupName]="i" [ngStyle]="{'background-color': isQuantityEntered(i) ? 'whitesmoke': 'white'}">
                <input type="hidden" formControlName="profileDid" class="input-text hidden-column">
                <td>{{ order.profiles[i].profileDescription }}</td>
                <td>
                  <input type="number" formControlName="quantity" class="input-number">
                  <div *ngIf="profile.get('quantity')?.errors?.['min']" class="error">The number must be greater than zero.</div>
                </td>
                <td>{{ order.profiles[i].unitType }}</td>
                <td>{{ order.profiles[i].packSize }}</td>
                <td>{{ order.profiles[i].salesPrice | currency:'USD':'symbol':'1.2-2'}}</td>
                <td>{{ getRowTotalPrice(i) | currency:'USD':'symbol':'1.2-2' }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <h3 class="section-title">Products</h3>
    <div formArrayName="profiles" class="profiles">
      <table class="table">
        <thead class="sticky">
          <tr>
            <th>Description</th>
            <th>Qty</th>
            <th>Unit Type</th>
            <th>Pack Size</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let profile of profileControls.controls; let i = index">
            <tr *ngIf="!order.profiles[i].isSpecial" [formGroupName]="i" [ngStyle]="{'background-color': isQuantityEntered(i) ? 'whitesmoke': 'white'}">
              <td>
                <input type="text" type="hidden" formControlName="profileDid">
                {{ order.profiles[i].profileDescription }}
              </td>
              <td>
                <input type="number" formControlName="quantity" class="input-number">
                <div *ngIf="profile.get('quantity')?.errors?.['min']" class="error">The number must be greater than zero.</div>
              </td>
              <td>{{ order.profiles[i].unitType }}</td>
              <td>{{ order.profiles[i].packSize }}</td>
              <td>{{ order.profiles[i].salesPrice | currency:'USD':'symbol':'1.2-2'}}</td>
              <td>{{ getRowTotalPrice(i) | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div *ngIf="submitted && orderForm.get('profiles')?.hasError('atLeastOneQuantity')" class="error">
        At least one quantity is required.
      </div>
    </div>

    <div *ngIf="profileControls.touched && profileControls.errors?.['atLeastOneQuantity']" class="error">
      Enter at least one quantity.
    </div>

    <div class="total-price">
      <br>Total price: {{totalPrice | currency:'USD':'symbol':'1.2-2'}}
      <div *ngIf="totalPrice > 10000" class="error">The total has to be less than $10,000.</div>
    </div>

    <!-- Current Order Button -->
    <button type="button" (click)="showCurrentOrder()" class="current-order-btn">Current Order</button>

    <div>
      <label for="customer-po"><strong>Customer PO: </strong></label>
      <input id="customer-po" formControlName="customerPo" type="text" class="customer-po">
    </div>

    <div class="delivery-date">
      <label for="delivery-date"><strong>Delivery Date:</strong></label>
      <input id="delivery-date" formControlName="deliveryDate" type="date" class="input-date">
      <div *ngIf="formControls['deliveryDate'].touched && formControls['deliveryDate'].errors?.['required']" class="error">
        Delivery date is required.
      </div>
      <div *ngIf="formControls['deliveryDate'].dirty && formControls['deliveryDate'].errors?.['dateAfterTomorrow']" class="error">
        Delivery date cannot be in the past or after 2am of today's date.
      </div>
      <div *ngIf="formControls['deliveryDate'].dirty && formControls['deliveryDate'].errors?.['dateWithinThreeMonths']" class="error">
        Delivery date must be within 3 months.
      </div>
      <div *ngIf="formControls['deliveryDate'].dirty && formControls['deliveryDate'].errors?.['dateNotOnSunday']" class="error">
        Delivery date cannot be on Sunday.
      </div>
    </div>

    <!-- Pop-up Modal for Current Order -->
    <div *ngIf="showModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h3>Current Order</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Qty</th>
              <th>Unit Type</th>
              <th>Pack Size</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentOrderItems">
              <td>{{ item.profileDescription }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unitType }}</td>
              <td>{{ item.packSize }}</td>
              <td>{{ item.salesPrice | currency:'USD':'symbol':'1.2-2' }}</td>
              <td>{{ item.totalPrice | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br><button type="submit" mat-raised-button color="primary" [disabled]="!orderForm.valid" class="submit-btn">Submit</button>
  </div>
</form>