<div class="container">
  <div class="image-container">
    <img src="assets/logo.png" alt="Golden State Sea Food Logo">
  </div>
  <h2>Place Order</h2>
  <div class="customer-id-input">
    <label for="customer-id">Customer ID:</label>
    <input id="customer-id" type="text" [(ngModel)]="customerId" placeholder="Enter customer ID" />
    <button (click)="fetchCustomerData()">Submit</button>
  </div>
  <div class="customer-info" *ngIf="orderData.customer_name">
    <div>
      <label for="customer-name">Customer Name:</label>
      <span id="customer-name">{{ orderData.customer_name }}</span>
    </div>
    <div>
      <label for="sales-rep">&nbsp;&nbsp;Sales Rep:</label>
      <span id="sales-rep">{{ orderData.sales_rep }} <a href="tel:{{ orderData.sales_rep_phone }}">{{ orderData.sales_rep_phone }}</a></span>
    </div>
  </div>

  <!-- Specials Grid -->
  <div *ngIf="specialsProducts && specialsProducts.length > 0">
    <h3>Specials</h3>
    <table class="order-grid">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit Type</th>
          <th>Pack Size</th>
          <th>Price</th>
          <th class='totalCol'>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of specialsProducts; let i = index">
          <td>{{ product.profileDescription }}</td>
          <td>
            <input type="text" class="input_quantity" inputmode="numeric" pattern="[0-9]*" name="quantity_special_{{ i }}" maxlength="4" [(ngModel)]="product.quantity"
              [attr.data-price]="product.salesPrice" [attr.data-pack-size]="product.packSizePd" (input)="updateRowStyle($event)" (blur)="checkEmptyInput($event)" required>
            <input type="hidden" name="description_special_{{ i }}" [value]="product.profileDescription" [(ngModel)]="product.profileDescription">
            <input type="hidden" name="unit_type_special_{{ i }}" [value]="product.unitTypePd" [(ngModel)]="product.unitTypePd">
            <input type="hidden" name="pack_size_special_{{ i }}" [value]="product.packSizePd" [(ngModel)]="product.packSizePd">
            <input type="hidden" name="price_special_{{ i }}" [value]="product.salesPrice | number:'1.2-2'" [(ngModel)]="product.salesPrice">
          </td>
          <td>{{ product.unitTypePd }}</td>
          <td>{{ product.packSizePd }}</td>
          <td>${{ product.salesPrice | number:'1.2-2' }}</td>
          <td class="total-per-item">${{ (product.quantity || 0) * product.packSizePd * product.salesPrice | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Normal Grid -->
  <div *ngIf="orders && orders.length > 0">
    <div class="error-message" style="color: red;">
      We already have an order for you submitted today. Please contact your sales rep if you like to change this order.
    </div>
    <table class="order-grid">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Customer Name</th>
          <th>Sales Rep</th>
          <th>Product Description</th>
          <th>Unit Type</th>
          <th>Pack Size</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Delivery Date</th>
          <th>Customer Email</th>
          <th>Sales Rep Phone</th>
          <th>Order Timestamp</th>
          <th>Customer PO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.customer_name }}</td>
          <td>{{ order.sales_rep }}</td>
          <td>{{ order.product_description }}</td>
          <td>{{ order.unit_type }}</td>
          <td>{{ order.pack_size }}</td>
          <td>${{ order.price | number:'1.2-2' }}</td>
          <td>{{ order.quantity }}</td>
          <td>${{ order.total_price | number:'1.2-2' }}</td>
          <td>{{ order.delivery_date }}</td>
          <td>{{ order.customer_email }}</td>
          <td>{{ order.sales_rep_phone }}</td>
          <td>{{ order.order_timestamp }}</td>
          <td>{{ order.customer_po }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="goBack()">Back</button>
  </div>

  <form *ngIf="orders && orders.length === 0" #orderForm="ngForm" (ngSubmit)="submitOrder(orderForm)">
    <table class="order-grid">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit Type</th>
          <th>Pack Size</th>
          <th>Price</th>
          <th class='totalCol'>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ product.profileDescription }}</td>
          <td>
            <input type="text" class="input_quantity" inputmode="numeric" pattern="[0-9]*" name="quantity_{{ i }}" maxlength="4" [(ngModel)]="product.quantity"
              [attr.data-price]="product.salesPrice" [attr.data-pack-size]="product.packSizePd" (input)="updateRowStyle($event)" (blur)="checkEmptyInput($event)" required>
            <input type="hidden" name="description_{{ i }}" [value]="product.profileDescription" [(ngModel)]="product.profileDescription">
            <input type="hidden" name="unit_type_{{ i }}" [value]="product.unitTypePd" [(ngModel)]="product.unitTypePd">
            <input type="hidden" name="pack_size_{{ i }}" [value]="product.packSizePd" [(ngModel)]="product.packSizePd">
            <input type="hidden" name="price_{{ i }}" [value]="product.salesPrice | number:'1.2-2'" [(ngModel)]="product.salesPrice">
          </td>
          <td>{{ product.unitTypePd }}</td>
          <td>{{ product.packSizePd }}</td>
          <td>${{ product.salesPrice | number:'1.2-2' }}</td>
          <td class="total-per-item">${{ (product.quantity || 0) * product.packSizePd * product.salesPrice | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="total">Total: <span id="total-amount">$0.00</span></div>
    <input type="hidden" name="total_price" id="total_price" value="0.00" [(ngModel)]="orderData.total_price">

    <div class="delivery-date">
      <label for="delivery-date">Delivery Date:</label>
      <input type="date" id="delivery-date" class="calendar" name="delivery_date" [(ngModel)]="deliveryDate" required>

      <label for="customer-po">&nbsp;&nbsp;Customer PO:</label>
      <input type="text" id="customer-po" name="customer_po" maxlength="150" [(ngModel)]="customerPo" (input)="restrictInput($event, 150)">
    </div>
    <div class="error-message" style="color: red;">&nbsp;</div>
    <button type="submit" class="submit-btn">Submit your order</button>

    <input type="hidden" name="nb_products" [value]="products.length" [(ngModel)]="products.length">
    <input type="hidden" name="customer_name" [value]="orderData.customer_name" [(ngModel)]="orderData.customer_name">
    <input type="hidden" name="sales_rep" [value]="orderData.sales_rep" [(ngModel)]="orderData.sales_rep">
    <input type="hidden" name="customer_email" [value]="orderData.customer_email" [(ngModel)]="orderData.customer_email">
    <input type="hidden" name="sales_rep_phone" [value]="orderData.sales_rep_phone" [(ngModel)]="orderData.sales_rep_phone">
    <input type="hidden" name="customer_id" [value]="orderData.customer_id" [(ngModel)]="orderData.customer_id">
  </form>
</div>
