<div class="container">
  <div class="image-container" [ngStyle]="{'background-color': imageBackgroundColor}">
    <img [src]="imageSrc" alt="Company Logo">
  </div>

  <h2 class="page-title">Order Form</h2>
  <div class="customer-id-input hidden">
    <label for="customer-id">Customer ID:</label>
    <input id="customer-id" type="text" [(ngModel)]="customerId" placeholder="Enter customer ID" />
    <button (click)="fetchCustomerData()">Submit</button>
  </div>

  <div *ngIf="orderData.customerName && orderData.salesRepName" class="customer-sales-info">
    <p>Customer: {{ orderData.customerName }}</p>
    <div class="sales-rep-info">
      Sales Rep: {{ orderData.salesRepName }} <a [href]="'tel:' + orderData.salesRepPhone">{{ orderData.salesRepPhone }}</a>
    </div>
  </div>

  <div *ngIf="shiptoNames && shiptoNames.length > 0" class="shipto-dropdown">
    <label for="shipto-select">Ship To:</label>
    <select id="shipto-select" [(ngModel)]="selectedShiptoID">
      <option *ngFor="let shipto of shiptoNames" [value]="shipto.id">{{ shipto.name }}</option>
    </select>
  </div>

  <!-- Specials Grid -->
  <div *ngIf="specialsProducts && specialsProducts.length > 0">
    <h3 class="grid-title">Specials</h3>
    <table class="order-grid specials-grid">
      <thead>
        <tr>
          <th class="hidden-column">Profile ID</th>
          <th class="hidden-column">Customer ID</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit Type</th>
          <th>Pack Size</th>
          <th>Price</th>
          <th class='totalCol'>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of specialsProducts; let i = index" [attr.data-special]="true" [attr.data-index]="i">
          <td class="hidden-column">{{ product.id }}</td>
          <td class="hidden-column">{{ orderData.customerId }}</td>
          <td>{{ product.profileDescription }}</td>
          <td>
            <input type="text" class="input_quantity" inputmode="numeric" pattern="[0-9]*" name="quantity_special_{{ i }}" maxlength="4" [(ngModel)]="product.quantity"
              [attr.data-price]="product.price" [attr.data-pack-size]="product.packSize" (input)="updateRowStyle($event)" (blur)="checkEmptyInput($event)" required>
            <input type="hidden" name="description_special_{{ i }}" [value]="product.profileDescription" [(ngModel)]="product.profileDescription">
            <input type="hidden" name="unit_type_special_{{ i }}" [value]="product.unitType" [(ngModel)]="product.unitType">
            <input type="hidden" name="pack_size_special_{{ i }}" [value]="product.packSize" [(ngModel)]="product.packSize">
            <input type="hidden" name="price_special_{{ i }}" [value]="product.price | number:'1.2-2'" [(ngModel)]="product.price">
            <input type="hidden" name="profile_id_special_{{ i }}" [value]="product.id" [(ngModel)]="product.id">
          </td>
          <td>{{ product.unitType }}</td>
          <td>{{ product.packSize }}</td>
          <td>${{ product.price | number:'1.2-2' }}</td>
          <td class="total-per-item">${{ (product.quantity || 0) * product.packSize * product.price | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Normal Grid -->
  <div *ngIf="orders && orders.length > 0">
    <h3 class="grid-title">Products</h3>
    <div class="error-message" style="color: red;">
      We already have an order for you submitted today. Please contact your sales rep if you like to change this order.
    </div>
    <table class="order-grid">
      <thead>
        <tr>
          <th class="hidden-column">Profile ID</th>
          <th class="hidden-column">Customer ID</th>
          <th>Order ID</th>
          <th>Customer Name</th>
          <th>Sales Rep</th>
          <th>Product Description</th>
          <th>Unit Type</th>
          <th>Pack Size</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Delivery Date</th>
          <th>Customer Email</th>
          <th>Sales Rep Phone</th>
          <th>Order Timestamp</th>
          <th>Customer PO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td class="hidden-column">{{ order.profileDid }}</td>
          <td class="hidden-column">{{ order.customerId }}</td>
          <td>{{ order.id }}</td>
          <td>{{ order.customer_name }}</td>
          <td>{{ order.sales_rep }}</td>
          <td>{{ order.product_description }}</td>
          <td>{{ order.unit_type }}</td>
          <td>{{ order.pack_size }}</td>
          <td>${{ order.salesPrice | number:'1.2-2' }}</td>
          <td>{{ order.quantity }}</td>
          <td>${{ order.total_price | number:'1.2-2' }}</td>
          <td>{{ order.delivery_date }}</td>
          <td>{{ order.customer_email }}</td>
          <td><a [href]="'tel:' + order.sales_rep_phone">{{ order.sales_rep_phone }}</a></td>
          <td>{{ order.order_timestamp }}</td>
          <td>{{ order.customer_po }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="goBack()">Back</button>
  </div>

  <form *ngIf="orders && orders.length === 0" #orderForm="ngForm" (ngSubmit)="submitOrder(orderForm)">
    <h3 class="grid-title">Products</h3>
    <table class="order-grid">
      <thead>
        <tr>
          <th class="hidden-column">Profile ID</th>
          <th class="hidden-column">Customer ID</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit Type</th>
          <th>Pack Size</th>
          <th>Price</th>
          <th class='totalCol'>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index" [attr.data-index]="i">
          <td class="hidden-column">{{ product.id }}</td>
          <td class="hidden-column">{{ orderData.customerId }}</td>
          <td>{{ product.profileDescription }}</td>
          <td>
            <input type="text" class="input_quantity" inputmode="numeric" pattern="[0-9]*" name="quantity_{{ i }}" maxlength="4" [(ngModel)]="product.quantity"
              [attr.data-price]="product.price" [attr.data-pack-size]="product.packSize" (input)="updateRowStyle($event)" (blur)="checkEmptyInput($event)" required>
            <input type="hidden" name="description_{{ i }}" [value]="product.profileDescription" [(ngModel)]="product.profileDescription">
            <input type="hidden" name="unit_type_{{ i }}" [value]="product.unitType" [(ngModel)]="product.unitType">
            <input type="hidden" name="pack_size_{{ i }}" [value]="product.packSize" [(ngModel)]="product.packSize">
            <input type="hidden" name="price_{{ i }}" [value]="product.price | number:'1.2-2'" [(ngModel)]="product.price">
            <input type="hidden" name="profile_id_{{ i }}" [value]="product.id" [(ngModel)]="product.id">
          </td>
          <td>{{ product.unitType }}</td>
          <td>{{ product.packSize }}</td>
          <td>${{ product.price | number:'1.2-2' }}</td>
          <td class="total-per-item">${{ (product.quantity || 0) * product.packSize * product.price | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="total">Total: <span id="total-amount">$0.00</span></div>
    <input type="hidden" name="total_price" id="total_price" [value]="orderData.totalPrice" [(ngModel)]="orderData.totalPrice">
    <div class="delivery-date">
      <label for="delivery-date">Delivery Date:</label>
      <input type="date" id="delivery-date" class="calendar" name="delivery_date" [(ngModel)]="deliveryDate" required>

      <label for="customer-po">&nbsp;&nbsp;Customer PO:</label>
      <input type="text" id="customer-po" name="customer_po" maxlength="150" [(ngModel)]="customerPo" (input)="restrictInput($event, 150)">
    </div>
    <div class="error-message" style="color: red;">&nbsp;</div>
    <button type="submit" class="submit-btn" [disabled]="isSubmitting">Submit your order</button>

    <input type="hidden" name="nb_products" [value]="products.length" [(ngModel)]="products.length">
    <input type="hidden" name="customer_name" [value]="orderData.customerName" [(ngModel)]="orderData.customerName">
    <input type="hidden" name="sales_rep" [value]="orderData.salesRepName" [(ngModel)]="orderData.salesRepName">
    <input type="hidden" name="customer_email" [value]="orderData.customerEmail" [(ngModel)]="orderData.customerEmail">
    <input type="hidden" name="sales_rep_phone" [value]="orderData.salesRepPhone" [(ngModel)]="orderData.salesRepPhone">
    <input type="hidden" name="customer_id" [value]="orderData.customerId" [(ngModel)]="orderData.customerId">
    <input type="hidden" name="shipto_id" [value]="selectedShiptoID" [(ngModel)]="selectedShiptoID">
  </form>
</div>