.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.underlined {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.filters {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    font-size: 18px;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-label {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin: 0;
}

.filters select,
.filters input {
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 5px;
    width: 200px;
    text-align: left;
    margin: 0;
}

.order-grid {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.order-grid th,
.order-grid td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
    word-wrap: break-word;
    font-size: 16px;
}

.order-grid th {
    background-color: #d3d3d3;
    color: #333;
    font-weight: bold;
}

.copy-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .filters {
        flex-direction: column;
    }

    .filter-group {
        width: 100%;
        align-items: flex-start;
    }

    .filters label,
    .filters select,
    .filters input {
        width: 100%;
        margin-bottom: 5px;
        text-align: left;
    }

    .order-grid th,
    .order-grid td {
        font-size: 14px;
    }

    #customer-search::placeholder {
        font-size: 16px;
        color: #999;
    }

    .image-container {
        border-radius: 0;
        padding: 0;
        margin: 0;
    }
}