<div class="container">
  <h2 class="driver-routes-title">Driver Routes</h2>

  <div class="filters">
    <label for="driver-filter">Driver Name:</label>
    <select id="driver-filter" [(ngModel)]="selectedDriver" (change)="onDriverChange($event)">
      <option *ngFor="let driver of drivers" [value]="driver">{{ driver }}</option>
    </select>

    <label for="date-filter">Select Date:</label>
    <input id="date-filter" type="date" [(ngModel)]="deliveryDate" />

    <button (click)="applyFilter()">Submit</button>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 driver-routes-grid" matSort>
    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
      <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>

    <!-- Delivery Address Column -->
    <ng-container matColumnDef="deliveryAddress1">
      <th mat-header-cell *matHeaderCellDef> Delivery Address </th>
      <td mat-cell *matCellDef="let element"> {{element.deliveryAddress1}} </td>
    </ng-container>

    <!-- Customer Phone Column -->
    <ng-container matColumnDef="customerPhone">
      <th mat-header-cell *matHeaderCellDef> Customer Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.customerPhone}} </td>
    </ng-container>

    <!-- Planned Arrival Time Column -->
    <ng-container matColumnDef="plannedArrivalTime">
      <th mat-header-cell *matHeaderCellDef> Planned Arrival Time </th>
      <td mat-cell *matCellDef="let element"> {{element.planned_arrival_time}} </td>
    </ng-container>

    <!-- Actual Arrival Time Column -->
    <ng-container matColumnDef="actualArrivalTime">
      <th mat-header-cell *matHeaderCellDef> Actual Arrival Time </th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [(ngModel)]="element.actual_arrival_time" (change)="hasArrived(element)">
          <mat-icon *ngIf="element.actual_arrival_time">check</mat-icon>
        </mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Time Difference Column -->
    <ng-container matColumnDef="timeDifference">
      <th mat-header-cell *matHeaderCellDef> Time Difference </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        {{ i > 0 ? calculateTimeDifference(dataSource.filteredData)[i-1] : '' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'arrived-row': row.actual_arrival_time}"></tr>
  </table>
</div>
