h2 {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 97.3%;
    background-color: rgba(0, 16, 46, 1);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    max-width: 100%;
    height: 100px;
    border-radius: 8px;
}

.filters {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.filters label {
    font-size: 16px;
}

.filters select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.mat-header-cell {
    background-color: #ddd; /* Slightly darker than EEEDEB */
    font-size: 16px; /* Match the font size of the inventory headers */
    font-weight: bold; /* Bold font for headers */
    text-align: center;
}

.mat-cell {
    font-size: 14px;
}

.arrived {
    background-color: #EEEDEB;
    font-weight: bold;
}
