.tabs {
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    margin-top: 1em;
}

.active-link {
    color: #F20B22;
}

a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

a.active-link {
    background-color: rgb(8, 20, 44) !important;
}

.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

#a {
    display: inline;
}

#a li {
    display: inline;
}

mat-icon {
    vertical-align: middle;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 20, 44) !important;
    width: 100%;
    padding: 10px 0; /* Add some padding to the header */
}

mat-toolbar {
    background-color: rgb(8, 20, 44) !important;
    width: 100%;
}

.text-align-center {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    max-height: 50px; /* Ensure the logo fits within the bar */
}

.spacer {
    flex: 1;
}
