@if (!isOrderForm) {
    <mat-toolbar color="primary" class="header" [ngClass]="{'warning': showWarning}">
        <div class="nav-links-center">
            <a mat-button routerLink="/products" routerLinkActive="active-link">
                <mat-icon>inventory</mat-icon>
                Products
            </a>
            <a mat-button routerLink="/order-links" routerLinkActive="active-link">
                <mat-icon>description</mat-icon>
                Order Links
            </a>
            <a mat-button routerLink="/orders" routerLinkActive="active-link"> <!-- Orders link -->
                <mat-icon>assignment</mat-icon>
                Orders
            </a>
            <a mat-button routerLink="/preorders" routerLinkActive="active-link"> <!-- New PreOrders link -->
                <mat-icon>event_note</mat-icon> <!-- Unique icon for PreOrders -->
                PreOrders
            </a>
            <a mat-button routerLink="/driver" routerLinkActive="active-link">
                <mat-icon>local_shipping</mat-icon>
                Routes
            </a>
        </div>

        <!-- Optional GS Logo -->
    </mat-toolbar>
}

<div class="underline"></div> <!-- Thinner black line underlining the nav bar -->

<main>
    <router-outlet></router-outlet>
</main>

<!-- Footer with Navigation and Social Icons-->
<footer class="mat-drawer-container">
    <div class="container">
        <div class="text-align-center">
            © 2024 - Pacific Fresh Fish Company
            @if (isDevMode) {<div class="dev-mode">UAT ENVIRONMENT</div>
            <div class="dev-mode">{{apiUrl}}</div>}
        </div>
    </div>
</footer>
