.tabs {
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    margin-top: 1em;
}

.active-link {
    background-color: #d3d3d3;
    color: #333 !important;
}

a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    /* Dark grey text color */
    font-size: 14px;
    /* Smaller font size */
    display: flex;
    align-items: center;
}

a:hover,
a:active {
    color: #333;
    /* Dark grey text color */
}

a.active-link {
    background-color: #d3d3d3 !important;
    /* Light grey background for selected link */
}

.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

#a {
    display: inline;
}

#a li {
    display: inline;
}

mat-icon {
    vertical-align: middle;
    margin-right: 5px;
    /* Space between icon and text */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the nav links */
    background-color: #ffffff;
    width: 100%;
    padding: 5px 0;
    /* Reduce padding to make the nav bar less tall */
}

mat-toolbar {
    background-color: #ffffff;
    width: 100%;
    color: #333;
    /* Dark grey text color */
}

.text-align-center {
    text-align: center;
}

.nav-links-center {
    display: flex;
    justify-content: center;
    /* Center the links horizontally */
    align-items: center;
    /* Center the links vertically */
    width: 100%;
}

.gs-logo {
    height: 50px;
    /* Increase the size */
    border-radius: 10%;
}

.gs-logo-link {
    position: absolute;
    right: 10px;
}



mat-sidenav-container {
    min-height: 95%;
}

.home-link {
    display: none;
    /* Hide original Home link */
}

.nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    /* Space between icon and text */
}

.dev-mode {
    color: darkblue;
    ;
}

.warning {
    background-color: red;
}