<mat-toolbar color="primary" class="header">
    <div class="nav-links-center">
        <a mat-button routerLink="/inventory" routerLinkActive="active-link">
            <mat-icon>inventory</mat-icon>
            Inventory
        </a>
        <a mat-button routerLink="/order" routerLinkActive="active-link">
            <mat-icon>description</mat-icon> <!-- Change the icon to match Order Form -->
            Order
        </a>
        <a mat-button routerLink="/driver" routerLinkActive="active-link">
            <mat-icon>local_shipping</mat-icon> <!-- Truck profile view icon facing the other direction -->
            Routes
        </a>


    </div>

    <a routerLink="/home" class="logo">
        <img src="assets/gs.png" alt="GS Logo" class="gs-logo">
    </a>

</mat-toolbar>

<div class="underline"></div> <!-- Thinner black line underlining the nav bar -->

<main>
    <router-outlet></router-outlet>
</main>

<!-- Footer with Navigation and Social Icons-->
<footer class="mat-drawer-container">
    <div class="container">
        <div class="text-align-center">
            © 2024 - Pacific Fresh Fish Company
        </div>
    </div>
</footer>