<h2>{{ data.compItemId }} - {{ data.compDescription }}</h2>
<div class="special-instructions">{{ data.compInstructions || 'N/A' }}</div>

<mat-dialog-content>
  <!-- Display Image if Available -->
  <div *ngIf="data.photoUrl || data.thumbnailUrl" class="image-container">
    <img [src]="data.photoUrl || data.thumbnailUrl" alt="Product Image" class="product-image" />
  </div>
  

  <div class="margins">
    <div class="margin-values">
      <div class="margin-group">
        <div class="field">
          <span class="field-label">16%</span>
          <span>{{ ((data.compCost ?? 0) * (data.yield ?? 0) + (data.laborPackCost ?? 0)) / 0.84 | number:'1.2-2' }}</span>
        </div>
        <div class="field">
          <span class="field-label">18%</span>
          <span>{{ ((data.compCost ?? 0) * (data.yield ?? 0) + (data.laborPackCost ?? 0)) / 0.82 | number:'1.2-2' }}</span>
        </div>
        <div class="field">
          <span class="field-label">20%</span>
          <span>{{ ((data.compCost ?? 0) * (data.yield ?? 0) + (data.laborPackCost ?? 0)) / 0.80 | number:'1.2-2' }}</span>
        </div>
        <div class="field">
          <span class="field-label">22%</span>
          <span>{{ ((data.compCost ?? 0) * (data.yield ?? 0) + (data.laborPackCost ?? 0)) / 0.78 | number:'1.2-2' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <span class="field-label">Cost</span>
      <span>{{ (data.compCost ?? 0) * (data.yield ?? 0) | number:'1.2-2' }}</span>
    </div>
    <div class="field">
      <span class="field-label">Yield</span>
      <span>{{ (data.yield ?? 0) * 100 | number:'1.0-0' }}%</span>
    </div>
    <div class="field">
      <span class="field-label">Labor Pack</span>
      <span>{{ data.laborPackCost | number:'1.2-2' }}</span>
    </div>
    <div class="field">
      <span class="field-label">Finish</span>
      <span>{{ ((data.compCost ?? 0) * (data.yield ?? 0) + (data.laborPackCost ?? 0)) | number:'1.2-2' }}</span>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <span class="field-label">Origin</span>
      <span>{{ data.origin }}</span>
    </div>
    <div class="field">
      <span class="field-label">Notes</span>
      <span>{{ data.notes || 'N/A' }}</span>
    </div>
    <div class="field">
      <span class="field-label">WOH</span>
      <span>{{ data.woh }}</span>
    </div>
    <div class="field">
      <span class="field-label">Unit Type</span>
      <span>{{ getUnitType(data.unitType ?? 0) }}</span>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <span class="field-label">Pack Size</span>
      <span>{{ data.packSize }}</span>
    </div>
    <div class="field">
      <span class="field-label">Buyer</span>
      <span>{{ data.buyer }}</span>
    </div>
    <div class="field">
      <span class="field-label">Sixty Sales</span>
      <span>{{ data.sixtySales }}</span>
    </div>
  </div>

  <div class="field-group">
    <div class="field">
      <span class="field-label">Ten Sales</span>
      <span>{{ data.tenSales }}</span>
    </div>
    <div class="field">
      <span class="field-label">Pre-Order Hours</span>
      <span>{{ data.preOrderHours }}</span>
    </div>
  </div>
</mat-dialog-content>
