<h2>Product Details</h2>
<div>
  <p><strong>ID:</strong> {{ data.compItemId }}</p>
  <p><strong>Description:</strong> {{ data.compDescription }}</p>
  <p><strong>Origin:</strong> {{ data.origin }}</p>
  <p><strong>Notes:</strong> {{ data.notes || 'N/A' }}</p>
  <p><strong>WOH:</strong> {{ data.woh }}</p>
  <p><strong>Unit Type:</strong> {{ data.unitType }}</p>
  <p><strong>Pack Size:</strong> {{ data.packSize }}</p>
  <p><strong>Pack Lock:</strong> {{ data.packLock }}</p>
  <p><strong>Cost:</strong> {{ data.compCost | number:'1.2-2' }}</p>
  <p><strong>Yield:</strong> {{ data.yield }}%</p>
  <p><strong>Labor Pack Cost:</strong> {{ data.laborPackCost | number:'1.2-2' }}</p>
  <p><strong>Buyer:</strong> {{ data.buyer }}</p>
  <p><strong>Sixty Sales:</strong> {{ data.sixtySales }}</p>
  <p><strong>Ten Sales:</strong> {{ data.tenSales }}</p>
  <p><strong>Pre-Order Hours:</strong> {{ data.preOrderHours }}</p>
  <p><strong>Instructions:</strong> {{ data.compInstructions || 'N/A' }}</p>
</div>
<button mat-button (click)="close()">Close</button>
