h2 {
    background-color: #f0f0f0;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
}

.special-instructions {
    font-size: 14px;
    background-color: #f0f0f0;
    text-align: center;
    color: #666;
    margin: 0;
    padding: 4px 0;
}

mat-dialog-content {
    font-size: 16px;
    padding: 0 16px 16px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margins {
    margin-top: 2px;
    font-weight: bold;
}

.margin-values {
    background-color: #f0f0f0;
    padding: 4px;
    border-radius: 4px;
}

.margin-group, .field-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4px;
    gap: 6px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2px;
    min-width: 100px;
    min-height: 60px;
}

.field-label {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 4px;
    min-height: 20px;
    line-height: 20px;
}

.image-container {
    text-align: center;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.product-image {
    max-width: 70%;
    max-height: 70vh;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.delete-icon {
    position: absolute;
    top: 8px;
    /* Distance from the top edge */
    right: 8px;
    /* Distance from the right edge */
    width: 16px;
    height: 16px;
    background-color: #d9534f;
    /* Red background color */
    color: white;
    /* White "X" */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Optional: Slight shadow */
}

.delete-icon:hover {
    background-color: #c9302c;
    /* Darker red on hover */
}
