.container {
    width: fit-content;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns for larger screens */
    gap: 16px;
    /* Space between components */
}

@media (max-width: 600px) {

    .container {
        width: 100%;
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 10px 0px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    /* Adjust breakpoint as needed */
    .charts {
        grid-template-columns: 1fr;
        /* Single column on smaller screens */
        justify-items: center;
    }
}