<div class="container">
    <div class="login-container">

        <div class="logo-container">
            <a [routerLink]="['/home']">
                <img src="assets/logo.png" alt="Company Logo" class="logo">
            </a>
        </div>

        <h1>New password</h1>
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter your password" autocomplete="current-password">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Re-enter your password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" placeholder="Enter your password" autocomplete="current-password">
            </mat-form-field>

            <div *ngIf="passwordResetForm.get('password')?.touched && passwordResetForm.get('password')?.errors?.['minlength']" class="error">
                Your password needs to have at least 5 characters.
            </div>

            <div *ngIf="passwordResetForm.get('password')?.touched && passwordResetForm.get('password')?.errors?.['noSpecialCharacter']" class="error">
                Your password needs to contain at least one special character: {{ '[!@#$%^&*(),.?":{}|<>]' }}
            </div>

            <div *ngIf="mismatchedPassword" class="error">
                The 2 entries do not match.
            </div>

            <button mat-raised-button color="primary" type="submit" [disabled]="passwordResetForm.invalid">
                <span>Submit new password</span>
            </button>
        </form>

        <div *ngIf="statusMessage" class="error-message">
            {{ statusMessage }}
        </div>
    </div>
</div>