<div class="container">

  <app-logo [companyId]="companyId"></app-logo>

  <h2>Hello {{ orderData.customerName }},</h2>
  <p>Thank you for your order. Here are the details of your order:</p>
  <br>
  <table class="order-grid" id="order-grid">
    <thead class="sticky">
      <tr>
        <th>Description</th>
        <th>Unit Type</th>
        <th>Pack Size</th>
        <th>Price</th>
        <th>Qty</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of orderData.profiles">
        <td>{{ product.profileDescription }}</td>
        <td>{{ product.unitType }}</td>
        <td>{{ product.packSize }}</td>
        <td class="price">{{ product.salesPrice | number:'1.2-2' }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <div class="total"><strong>Total: </strong>
      <span id="total-amount">{{ orderData.totalPrice| currency:'USD':true }}</span>
    </div>
  </div>

  <div>
    <p>Delivery date: {{orderData.deliveryDate | date: 'MM/dd/yyyy'}}</p>
  </div>
  <div *ngIf="orderData.shipToId">
    <p>Delivery location: {{orderData.shipToName}}</p>
  </div>


  <p>Thank you,<br>Your Sales Team</p>
  <button class="button" (click)="goBack()">Back</button>
</div>