<div class="container">
  <div class="image-container">
    <app-logo [companyId]="orderData.companyId"></app-logo>
  </div>
  <h2>Hello {{ orderData.customerName }},</h2>
  <p>Thank you for your order. Here are the details of your order:</p>
  <br>
  <table class="order-grid" id="order-grid">
    <thead>
      <tr>
        <th>Product Description</th>
        <th>Unit Type</th>
        <th>Pack Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delivery Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of orderData.profiles">
        <td>{{ product.profileDescription }}</td>
        <td>{{ product.unitTypePd }}</td>
        <td>{{ product.packSizePd }}</td>
        <td class="price">{{ product.salesPrice | number:'1.2-2' }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ orderData.deliveryDate | date: 'MM/dd/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
  <p><strong>Total Price:</strong> {{ orderData.totalPrice | currency:'USD':true }}</p>
  <p>Thank you,<br>Your Sales Team</p>
  <button class="button" (click)="goBack()">Back</button>
</div>