<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

    <table>
        <tr>
            <td>Custmer naem: </td>
            <td>{{order.customerName}}</td>
        </tr>
        <tr>
            <td>Sales rep: </td>
            <td>{{order.salesRepName}}</td>
        </tr>
        <tr>
            <td>Sales rep phone:</td>
            <td>{{order.salesRepPhone}}</td>
        </tr>
        <tr>
            <td><label for="customer-id">Customer ID:</label></td>
            <td><input id="customer-id" formControlName="customerId" type="text"></td>
        </tr>
        <tr>
            <td><label for="ship-to">Ship to:</label></td>
            <td><select id="ship-to" formControlName="shipToId">
                    <option *ngFor="let shipTo of order.shipTos" [value]="shipTo.id">{{ shipTo.shipToName }}</option>
                </select>
                <div *ngIf="(orderForm.get('shipToId')?.touched || orderForm.get('shipToId')?.dirty) && orderForm.get('shipToId')?.errors?.['required']" class="error">Ship to is
                    required.</div>

            </td>
        </tr>
        <tr>
            <td><label for="delivery-date">Delivery Date:</label></td>
            <td><input id="delivery-date" formControlName="deliveryDate" type="date">
                <div *ngIf="formControls['deliveryDate'].touched && formControls['deliveryDate'].errors?.['required']" class="error">
                    Delivery date is required
                </div>
                <div *ngIf="formControls['deliveryDate'].dirty  && formControls['deliveryDate'].errors?.['dateAfterTomorrow']" class="error">
                    Delivery date must be after today
                </div>
                <div *ngIf="formControls['deliveryDate'].dirty  && formControls['deliveryDate'].errors?.['dateWithinThreeMonths']" class="error">
                    Delivery date must be within 3 months
                </div>
                <div *ngIf="formControls['deliveryDate'].dirty  && formControls['deliveryDate'].errors?.['dateNotOnSunday']" class="error">
                    Delivery date cannot be on Sunday
                </div>
            </td>
        </tr>
    </table>

    Specials:
    <div formArrayName="profiles">
        <table border="1">
            @for (profile of profileControls.controls; track $index) {
            @if (order.profiles[$index].isSpecial) {

            <tr [formGroupName]="$index" [ngStyle]="{'background-color': isQuantityEntered($index) ? 'lightgrey' : 'white'}">
                <td>ID: <input type="text" formControlName="id"></td>
                <td>{{ order.profiles[$index].profileDescription }}</td>
                <td>{{ order.profiles[$index].unitTypePd }}</td>
                <td>Quantity: <input type="number" formControlName="quantity">
                    <div *ngIf="profile.get('quantity')?.errors?.['min']" class="error">The number must be greater than zero.</div>
                </td>

            </tr>
            }
            }
        </table>
    </div>

    <br>
    Non specials:
    <div formArrayName="profiles">
        <table border="1">
            @for (profile of profileControls.controls; track $index) {
            @if (!order.profiles[$index].isSpecial) {
            <tr [formGroupName]="$index" [ngStyle]="{'background-color': isQuantityEntered($index) ? 'lightgrey' : 'white'}">
                <td>ID: <input type="text" formControlName="id"></td>
                <td>{{ order.profiles[$index].profileDescription }}</td>
                <td>{{ order.profiles[$index].unitTypePd }}</td>
                <td>{{ order.profiles[$index].salesPrice | currency:'USD':'symbol':'1.2-2'}}</td>
                <td>Quantity: <input type="number" formControlName="quantity">
                    <div *ngIf="profile.get('quantity')?.errors?.['min']" class="error">The number must greater than zero.</div>
                </td>

            </tr>
            }
            }
        </table>
        <div *ngIf="submitted && orderForm.get('profiles')?.hasError('atLeastOneQuantity')" class="error">
            At least one quantity is required
        </div>
    </div>

    <div *ngIf="profileControls.touched && profileControls.errors?.['atLeastOneQuantity']" class="error">
        Enter at least one quantity
    </div>

    <br>Total price: {{totalPrice| currency:'USD':'symbol':'1.2-2'}}
    <div *ngIf="totalPrice>10000" class="error">The total has to be less than $10,000</div>
    <br>

    <br><button type="submit" [disabled]="!orderForm.valid">Submit</button>

</form>

<br>
Data to send to spring boot:
<br>
<pre>{{dataToBeSubmitted | json}}</pre>