<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="order-form">
    <div class="container">
      <div class="image-container" [ngStyle]="{'background-color': imageBackgroundColor}">
        <img [src]="imageSrc" alt="Company Logo">
      </div>
      <h2 class="page-title">Order Form</h2>
  
      <div *ngIf="orderData.customerName && orderData.salesRepName" class="customer-sales-info">
        <p>Customer: {{ orderData.customerName }}</p>
        <div class="sales-rep-info">
          Sales Rep: {{ orderData.salesRepName }} <a [href]="'tel:' + orderData.salesRepPhone">{{ orderData.salesRepPhone }}</a>
        </div>
      </div>
  
      <div *ngIf="shiptoNames && shiptoNames.length > 0" class="shipto-dropdown">
        <label for="shipto-select">Ship To:</label>
        <select id="shipto-select" formControlName="shipToId" class="input-select">
          <option *ngFor="let shipto of shiptoNames" [value]="shipto.id">{{ shipto.name }}</option>
        </select>
        <div *ngIf="(orderForm.get('shipToId')?.touched || orderForm.get('shipToId')?.dirty) && orderForm.get('shipToId')?.errors?.['required']" class="error">
          Ship to is required.
        </div>
      </div>
  
      <h3 class="grid-title">Specials</h3>
      <div formArrayName="profiles" class="profiles">
        <table class="order-grid specials-grid">
          <thead>
            <tr>
              <th class="hidden-column">Profile ID</th>
              <th class="hidden-column">Customer ID</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Unit Type</th>
              <th>Pack Size</th>
              <th>Price</th>
              <th class="totalCol">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let profile of profileControls.controls; let i = index" [formGroupName]="i" [ngStyle]="{'background-color': isQuantityEntered(i) ? 'lightgrey' : 'white'}">
              <td class="hidden-column">{{ profile.value.id }}</td>
              <td class="hidden-column">{{ orderData.customerId }}</td>
              <td>{{ profile.value.profileDescription }}</td>
              <td>
                <input type="number" class="input_quantity" formControlName="quantity" (input)="updateRowStyle($event)" (blur)="checkEmptyInput($event)">
                <div *ngIf="profile.get('quantity')?.errors?.['min']" class="error">The number must be greater than zero.</div>
              </td>
              <td>{{ profile.value.unitTypePd }}</td>
              <td>{{ profile.value.packSizePd }}</td>
              <td>{{ profile.value.salesPrice | currency:'USD':'symbol':'1.2-2' }}</td>
              <td class="total-per-item">{{ (profile.value.quantity || 0) * profile.value.packSizePd * profile.value.salesPrice | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <h3 class="grid-title">Products</h3>
      <div formArrayName="profiles" class="profiles">
        <table class="order-grid">
          <thead>
            <tr>
              <th class="hidden-column">Profile ID</th>
              <th class="hidden-column">Customer ID</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Unit Type</th>
              <th>Pack Size</th>
              <th>Price</th>
              <th class="totalCol">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let profile of profileControls.controls; let i = index" [formGroupName]="i" [ngStyle]="{'background-color': isQuantityEntered(i) ? 'lightgrey' : 'white'}">
              <td class="hidden-column">{{ profile.value.id }}</td>
              <td class="hidden-column">{{ orderData.customerId }}</td>
              <td>{{ profile.value.profileDescription }}</td>
              <td>
                <input type="number" class="input_quantity" formControlName="quantity" (input)="updateRowStyle($event)" (blur)="checkEmptyInput($event)">
                <div *ngIf="profile.get('quantity')?.errors?.['min']" class="error">The number must be greater than zero.</div>
              </td>
              <td>{{ profile.value.unitTypePd }}</td>
              <td>{{ profile.value.packSizePd }}</td>
              <td>{{ profile.value.salesPrice | currency:'USD':'symbol':'1.2-2' }}</td>
              <td class="total-per-item">{{ (profile.value.quantity || 0) * profile.value.packSizePd * profile.value.salesPrice | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="total">Total: <span id="total-amount">{{ totalPrice | currency:'USD':'symbol':'1.2-2' }}</span></div>
      <div class="delivery-date">
        <label for="delivery-date">Delivery Date:</label>
        <input type="date" id="delivery-date" formControlName="deliveryDate" class="calendar" required>
        <div *ngIf="formControls['deliveryDate'].touched && formControls['deliveryDate'].errors?.['required']" class="error">
          Delivery date is required
        </div>
        <div *ngIf="formControls['deliveryDate'].dirty && formControls['deliveryDate'].errors?.['dateAfterTomorrow']" class="error">
          Delivery date must be after today
        </div>
        <div *ngIf="formControls['deliveryDate'].dirty && formControls['deliveryDate'].errors?.['dateWithinThreeMonths']" class="error">
          Delivery date must be within 3 months
        </div>
        <div *ngIf="formControls['deliveryDate'].dirty && formControls['deliveryDate'].errors?.['dateNotOnSunday']" class="error">
          Delivery date cannot be on Sunday
        </div>
      </div>
  
      <div class="customer-po">
        <label for="customer-po">Customer PO:</label>
        <input type="text" id="customer-po" formControlName="customerPo" maxlength="150" (input)="restrictInput($event, 150)">
      </div>
  
      <button type="submit" [disabled]="!orderForm.valid" class="submit-btn">Submit your order</button>
    </div>
  
    <div>
      <h3>Data to send to spring boot:</h3>
      <pre>{{ dataToBeSubmitted | json }}</pre>
    </div>
  </form>
  