<div class="container">
  <!-- Header Section -->
  <div class="header-section">
    <a [routerLink]="['/home']">
      <img src="assets/logo.png" alt="Company Logo" />
    </a>
  </div>

  <!-- Page Title -->
  <h2 class="page-title">PreOrders</h2>

  <!-- PreOrders Table -->
  <form [formGroup]="preOrderForm" (ngSubmit)="submitAll()">
    <table class="table">
      <thead class="sticky">
        <tr>
          <th>ID</th>
          <th>Dispatch Date</th>
          <th>Customer Name</th>
          <th>Description</th>
          <th>Unit Size</th>
          <th>Unit Type</th>
          <th>Weight (Lbs)</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody formArrayName="preOrders">
        <tr *ngFor="let preOrder of preOrdersArray.controls; let i = index" [formGroupName]="i" [ngStyle]="{'background-color': preOrder.dirty ? 'whitesmoke' : 'white'}">

          <td>{{ preOrder.get('id')?.value }}</td>
          <td class="nowrap">{{ preOrder.get('dispatchDate')?.value | date: 'mediumDate' }}</td>
          <td>{{ preOrder.get('customerName')?.value }}</td>
          <td>{{ preOrder.get('descriptionMemo')?.value }}</td>
          <td>{{ preOrder.get('unitSize')?.value }}</td>
          <td>{{ getUnitType(preOrder.get('unitType')?.value) }}</td>
          <td>
            <input type="number" formControlName="price" min="0" />
            <div *ngIf="preOrder.get('price')?.touched && preOrder.get('price')?.hasError('min')" class="error">
              Weight must be greater than 0</div>
          </td>
          <td>
            <div class="currency-input">
              <span class="currency-symbol">$</span>
              <input type="number" formControlName="weight" step="0.01" min="0" />
              <div *ngIf="preOrder.get('weight')?.touched && preOrder.get('weight')?.hasError('min')" class="error">
                Price must be greater than 0</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Submit Button -->
    <div class="text-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!preOrderForm.dirty || !preOrderForm.valid">
        Submit
      </button>
    </div>
  </form>

</div>