body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  color: #000000;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Section */
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgba(0, 16, 46, 1);
}

.header-section h2 {
  font-size: 24px;
  margin: 0;
}

.header-section .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none; /* Remove underline */
  background-color: rgba(0, 16, 46, 1);
}

.header-section .image-container img {
  max-height: 50px;
  width: auto;
  border-radius: 8px;
  border: none;
}

/* PreOrders Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #d3d3d3;
  color: #333;
}

.table tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/* Adjust column widths */
.table td,
.table th {
  padding: 8px;
}

.table td:nth-child(4) { /* Description column */
  width: 40%;
}

.table td:nth-child(7), /* Weight column */
.table td:nth-child(8) { /* Price column */
  width: 10%;
}

input[type="number"] {
  width: 100%; /* Ensure inputs fit within the column */
  border: none; /* Remove default border */
  background-color: transparent; /* Transparent background */
  text-align: center; /* Center-align text */
  outline: none; /* Remove focus outline */
}

input[type="number"]:hover,
input[type="number"]:focus {
  border-bottom: 1px solid #000; /* Add border on hover/focus */
  outline: none; /* Remove focus outline */
}

/* No Data Message */
.alert-info {
  padding: 10px;
  margin-top: 20px;
  background-color: #e7f3fe;
  border: 1px solid #b3d4fc;
  border-radius: 4px;
  color: #31708f;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 500px) {
  .container {
    padding: 10px;
  }

  .header-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-section h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .header-section .image-container img {
    max-height: 40px;
  }

  .table th,
  .table td {
    font-size: 14px;
  }
}
