<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div (click)="openModal(imageModal)">
    <img [src]="imageUrl" alt="Image Thumbnail" title="Click to enlarge" class="thumbnail" (keyup)="modalRef.hide()">
</div>

<ng-template #imageModal>
    <div class=" modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <img [src]="imageUrl" alt="Full Image" class="full-image" (click)="modalRef.hide()" (keyup)="modalRef.hide()">
    </div>
</ng-template>