<div class="container">
    <!-- Logo Component -->
    <a [routerLink]="['/home']">
      <div class="image-container">
        <app-logo></app-logo>
      </div>
    </a>
  
    <h2 class="underlined">Vendors</h2>
  
    <!-- Vendor Grid Table -->
    <table class="order-grid">
      <thead>
        <tr>
          <th>Vendor Name</th>
          <th>Preorder Form</th>
          <th>Copy Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vendor of vendors$ | async">
          <td>{{ vendor.vendorName }}</td>
          <td>
            <a [routerLink]="['/vendor', vendor.vendorId, 'preorder-form']" target="_blank">Preorder Form</a>
          </td>
          <td>
            <span class="copy-link" (click)="copyLink(vendor.vendorId)">Copy Link</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  