.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--image-background-color);
}

.image-container img {
    max-width: 100%;
    height: 100px;
    /* Adjust height to match the order page */
    border-radius: 8px;
}