body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Light grey background for the body */
    color: #000000; /* Black text color */
}

.main-container {
    display: flex;
    width: 100%;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* White background for the container */
    color: #000000; /* Black text color for the container */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.inventory-title {
    margin-top: 5px; /* Reduce the top margin */
    font-size: 30px; /* Make the text a little bigger */
    text-decoration: underline; /* Underline the text */
}

.filters {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adds white space between each filter */
}

.filters input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 calc(50% - 20px); /* Adjust width to match column headers */
    min-width: 120px;
}

.inventory-grid {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.inventory-grid th, .inventory-grid td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.inventory-grid th {
    background-color: rgba(0, 16, 46, 1); /* Dark blue background for table headers */
    color: #ffffff; /* White text color for table headers */
}

.inventory-grid td.wrap {
    white-space: normal;
    word-wrap: break-word;
}

.shrinkable-header {
    white-space: normal;
    word-break: break-word;
    text-align: center;
}


@media (max-width: 600px) {
    .filters {
        flex-direction: column;
    }

    .filters input {
        flex: 1 1 100%; /* Full width for inputs */
        margin-bottom: 10px;
    }

    .inventory-grid th, .inventory-grid td {
        font-size: 14px;
    }

    .container {
        width: 95%;
        margin: 5px;
    }
}
