<div class="content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

    <div class="container">
        <div class="image-container">
            <img src="assets/logo.png" alt="Company Logo">
        </div>
        <h2 class="inventory-title">Inventory</h2>
        <div class="filters">
            <input type="text" placeholder="Search Inventory" (input)="onSearchChange($event)">
        </div>
        <table class="inventory-grid">
            <thead>
                <tr>
                    <th class="shrinkable-header">Item<br>ID</th>
                    <th class="shrinkable-header product-header">Product</th>
                    <th class="shrinkable-header">Unit</th>
                    <th class="shrinkable-header">Pck<br>Size</th>
                    <th class="shrinkable-header">Price</th>
                    <th class="shrinkable-header">W<br>O<br>H</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of inventoryItems$ | async">
                    <td>{{ item.id }}</td>
                    <td class="wrap product-column">{{ item.compDescription }}</td>
                    <td>{{ item.unitType }}</td>
                    <td>{{ item.packSize }}</td>
                    <td>{{ item.activePrice | currency:'USD':'symbol':'1.2-2' }}</td>
                    <td>{{ item.woh }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>